:root {
  --colour0-primary: hsl(0, 0%, 20%);
  --colour0-secondary: hsl(0, 0%, 80%);
  --colour0-tertiary: hsl(0, 0%, 10%);
  --colour0-quarternary: hsl(0, 0%, 90%);
  --colour-submit-primary: hsl(240, 100%, 50%);
  --colour-submit-secondary: hsl(220, 100%, 80%);
  --colour-positive-primary: hsl(140, 100%, 50%);
  --colour-positive-secondary: hsl(140, 100%, 80%);
  --colour-negative-primary: hsl(350, 100%, 50%);
  --colour-negative-secondary: hsl(350, 100%, 80%);
  --colour-anchor-primary: hsl(120, 80%, 35%);
  --colour-anchor-secondary: hsl(120, 100%, 75%);
  --colour-anchor-local-primary: hsl(270, 80%, 50%);
  --colour-anchor-local-secondary: hsl(270, 100%, 95%);
  --duration-none: 0;
  --duration-fast: 0.25s;
  --duration-norm: 0.5s;
  --duration-slow: 1s;
  --duration-global: var(--duration-fast);
  --padding-thin: 0.125em;
  --padding-small: 0.25em;
  --padding-normal: 0.5em;
  --padding-big: 1em;
  --padding-large: 2em;
  --padding-global: var(--padding-big);
  --outline-default-width: 3px;
  --outline-default-colour: var(--colour0-primary);
  --outline-default-style: dashed;
  --outline-default: var(--outline-default-width) var(--outline-default-colour) var(--outline-default-style);
}

@media (prefers-reduced-motion) {
  :root {
    --duration-global: var(--duration-none);
  }
}
html {
  box-sizing: border-box;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  transition-property: color, background-color, box-shadow, background-image, visibility, z-index, opacity, border-color;
  transition-duration: var(--duration-global);
}

*:focus {
  outline: var(--outline-default);
  outline-offset: 2px;
}

body {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  color: var(--colour0-primary);
  background-color: var(--colour0-secondary);
  padding: 0;
  margin: 0;
}

body > * {
  flex: 0 1 auto;
  padding: 1em;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 1280px;
}

main > section {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

article, aside, footer, header, nav {
  display: block;
}

h1 {
  font-size: 2.2rem;
  text-transform: capitalize;
  padding: 0.5em;
  margin: 0;
}

h2 {
  font-size: 2rem;
  padding: 0.5em;
  margin: 0;
}

h3 {
  font-size: 1.8rem;
  padding: 0.5em;
  margin: 0;
}

h4 {
  font-size: 1.6rem;
  padding: 0.5em;
  margin: 0;
}

h5 {
  font-size: 1.4rem;
  padding: 0.5em;
  margin: 0;
}

h6 {
  font-size: 1.2rem;
  padding: 0.5em;
  margin: 0;
}

p, li, dt, dd {
  line-height: 1.5;
}

ul, ol {
  padding: 0 0 0 1em;
  margin: 0;
}

ol {
  list-style-position: outside;
}

ul {
  list-style: none;
}

li {
  text-align: inherit;
}

li > ul > li, li > ol > li {
  font-size: 0.9em;
}

details {
  display: block;
}

summary {
  display: list-item;
}

a {
  text-decoration: none;
  background-color: transparent;
  outline: none;
  transition: all var(--duration-global);
  padding: 0.25em;
}

a:link {
  color: var(--colour-anchor-primary);
}

a:visited {
  color: var(--colour-anchor-primary);
}

a:hover {
  color: var(--colour-anchor-primary);
  background-color: var(--colour-anchor-secondary);
  border-bottom: 0.1em solid;
  cursor: pointer;
}

a:active {
  color: var(--colour-anchor-secondary);
  background-color: var(--colour-anchor-primary);
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

u {
  text-decoration: red wavy underline;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 0.25em;
  text-align: start;
}

button, input, optgroup, select, textarea {
  box-sizing: border-box;
  min-width: 44px;
  min-height: 44px;
  width: 100%;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

input, textarea {
  color: #000;
  caret-color: inherit;
  background-color: #fff;
}

form {
  max-width: var(--width-mobile);
  border: 1px solid var(--colour0-primary);
  padding: 1em;
  border-radius: 1em;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  display: table;
  box-sizing: border-box;
  max-width: 100%;
  color: inherit;
  white-space: normal;
  border: 1px solid;
  padding: 0.5em;
}

label {
  color: var(--colour0-primary);
  padding: 0.5em;
  cursor: pointer;
}

input {
  border: 2px solid;
  transition: var(--duration-global);
}

input:required {
  border-color: var(--colour-submit-primary);
}

input:focus {
  border-color: transparent;
  box-shadow: 0 0 6px 6px var(--colour-submit-primary);
  outline: none;
}

textarea {
  overflow: auto;
}

select {
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

button {
  color: var(--colour0-primary);
  background-color: var(--colour0-secondary);
  border: 1px solid;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  -webkit-appearance: button;
  transition-duration: var(--duration-global);
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button::-moz-focusring {
  outline: 1px dotted ButtonText;
}

button:focus {
  border-color: var(--colour0-primary);
  box-shadow: 0 0 5px 5px inherit;
  outline: none;
}

button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

*::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

button:disabled, textarea:disabled, input:disabled, select:disabled {
  cursor: not-allowed;
}

template {
  display: none;
}

*[hidden] {
  display: none;
}

button[type=button], button[type=reset], button[type=submit], input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
}

button[type=button]::-moz-focus-inner, button[type=reset]::-moz-focus-inner, button[type=submit]::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=reset]::-moz-focus-inner, input[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button[type=button]:-moz-focusring, button[type=reset]:-moz-focusring, button[type=submit]:-moz-focusring, input[type=button]:-moz-focusring, input[type=reset]:-moz-focusring, input[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  width: auto;
  border: none;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

label + input[type=file] {
  opacity: 0;
}

button[type=button] {
  color: var(--colour0-primary);
  background-color: var(--colour0-secondary);
  background-image: radial-gradient(var(--colour0-secondary), var(--colour0-secondary), var(--colour0-primary));
}

button[type=button]:focus {
  outline: var(--outline-default);
}

button[type=button]:active {
  color: var(--colour0-secondary);
  background-color: var(--colour0-primary);
  background-image: radial-gradient(var(--colour0-primary), var(--colour0-primary), var(--colour0-secondary));
}

button[type=submit] {
  color: var(--colour-submit-primary);
  background-color: var(--colour-submit-secondary);
  background-image: radial-gradient(var(--colour-submit-secondary), var(--colour-submit-secondary), var(--colour-submit-primary));
}

button[type=submit]:focus {
  outline: var(--outline-default);
  border-color: var(--colour-submit-primary);
}

button[type=submit]:active {
  color: var(--colour-submit-secondary);
  background-color: var(--colour-submit-primary);
  background-image: radial-gradient(var(--colour-submit-primary), var(--colour-submit-primary), var(--colour-submit-secondary));
}

.link-button {
  padding: 0.5em;
  color: var(--colour-anchor-primary);
  background-color: var(--colour-anchor-secondary);
  border-radius: 5px;
  border-bottom: 0.1em solid transparent;
}

.link-button:hover {
  border-color: var(--colour-anchor-primary);
}

.gheader {
  position: sticky;
  top: -1px;
  z-index: 1;
  width: 100%;
  background-color: var(--colour0-quarternary);
}

.gheader.stuck {
  box-shadow: 0.125em 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.5);
}

.gheader.stuck .gtop, .gheader.stuck .gnav, .gheader.stuck .gforms {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
}

.gheader.stuck .gforms-switch {
  visibility: visible;
  opacity: 1;
  max-height: initial;
  padding-top: 1em;
}

.gheader form {
  padding: 0;
  border: none;
}

.gheader input, .gheader button {
  margin: 0;
}

.gheader .gtop {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.gheader .glogo {
  font-size: 1.5em;
}

.gheader .gnav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}

.gheader .gnav .navlink {
  padding: 1em;
}

.gheader .gnav .navanchour {
  font-size: 1.3em;
}

@media (max-width: calc(50em - 1px)) {
  .gheader .gnav {
    display: none;
  }
}
.gheader .gforms {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.gheader .gforms.shown {
  visibility: visible;
  opacity: 1;
  max-height: initial;
}

.gheader .gauth {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
}

.gheader .gauth-login {
  padding: 0;
}

.gheader .login-switcher {
  border: 1px solid var(--colour0-primary);
  border-radius: 5px;
}

.gheader .login-switch {
  display: none;
}

.gheader .login-switch + .gauth-form {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.gheader .login-switch:checked + .gauth-form {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.gheader .gauth-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  gap: 1em;
  width: calc(100vw - 2em);
  max-width: 360px;
  background-color: var(--colour0-quarternary);
  padding: 1em;
}

.gheader .gauth-form-fields {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.gheader .gsearch {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
}

.gheader .gsearch .search-pane {
  position: relative;
}

.gheader .gsearch .search-pane .search-options {
  position: absolute;
  top: 100%;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  background-color: var(--colour-anchor-local-secondary);
  padding: 1em;
}

.gheader .gsearch .search-pane .search-field {
  margin: 0;
}

.gheader .gsearch .search-pane:focus-within .search-options {
  visibility: visible;
  z-index: 1;
  opacity: 1;
}

.gheader .gforms-switch {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  text-align: center;
}

.gheader .gforms-switch > button {
  width: auto;
}

.gheader .gburger {
  display: none;
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 1;
}

.gheader .gburger-button {
  background-color: var(--colour0-secondary);
  border-radius: 50%;
  border: 1px solid var(--colour0-primary);
  padding: 1em;
}

.gheader .gburger-switch {
  display: none;
}

.gheader .gburger-switch + .gnav-burger {
  opacity: 0;
  visibility: hidden;
}

.gheader .gburger-switch:checked + .gnav-burger {
  opacity: 1;
  visibility: visible;
}

.gheader .gburger .gnav-burger {
  position: fixed;
  bottom: 1em;
  right: 50%;
  border: 2px solid var(--colour0-primary);
  background-color: var(--colour0-secondary);
  padding: 1em;
  transform: translate(50%);
}

.gheader .gburger .gnav-burger .close-button {
  padding: 0.5em;
  float: right;
  text-align: right;
  min-width: 44px;
  min-height: 44px;
}

.gheader .gburger .gnav-burger .close-button label {
  border-radius: 50%;
  padding: 0.5em;
  color: var(--colour-negative-secondary);
  background-color: var(--colour-negative-primary);
}

.gheader .gburger .gnav-burger .navlink {
  clear: right;
  padding: 0.5em 0;
}

@media (max-width: 50em) {
  .gheader .gburger {
    display: block;
  }
}
section.lorems {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 1em;
  padding: 1em;
}

section.lorems .lorem-article {
  flex: 0 1 20em;
  display: flex;
  flex-flow: column nowrap;
  opacity: 0.8;
  color: var(--colour0-tertiary);
  background-color: var(--colour0-quarternary);
  border-radius: 10px;
  border: 2px solid var(--colour0-primary);
  transition-property: transform, opacity;
}

section.lorems .lorem-article:hover {
  opacity: 1;
  transform: scale(1.05);
}

section.lorems .lorem-article > * {
  padding: 1em;
  flex: 0 0 auto;
}

section.lorems .lorem-article > header {
  border-bottom: 1px solid var(--colour0-secondary);
}

section.lorems .lorem-article > p {
  flex: 1 1 auto;
}

section.lorems .lorem-article > footer {
  border-top: 1px solid var(--colour0-secondary);
}

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
