:root {
  // colors
  --colour0-primary: hsl(0, 0%, 10%);
  --colour0-secondary: hsl(0, 0%, 90%);
  --colour0-tertiary: hsla(0, 0%, 20%);
  --colour0-quarternary: hsla(0, 0%, 80%);

  --colour1-primary: hsl(0, 100%, 50%);
  --colour2-primary: hsl(45, 75%, 50%);
  --colour2-secondary: hsl(60, 100%, 50%);
  --colour3-primary: hsl(90, 100%, 50%);
  --colour4-primary: hsl(135, 100%, 50%);
  --colour4-secondary: hsl(135, 100%, 75%);
  --colour5-primary: hsl(180, 100%, 50%);
  --colour6-primary: hsl(225, 100%, 50%);
  --colour7-primary: hsl(270, 100%, 50%);
  --colour7-secondary: hsl(270, 75%, 60%);
  --colour8-primary: hsl(315, 100%, 50%);
  
  /* buttons */
  // button 
  --colour-button-primary: hsl(358, 56%, 33%);
  --colour-button-secondary: hsl(94, 79% , 52%);
  --colour-button-tertiary: hsla(358, 56%, 33%, 0.6);
  --colour-button-quarternary: hsla(94, 79% , 52%, 0.6);
  // submit
  --colour-submit-primary: hsl(220, 80%, 50%);
  --colour-submit-secondary: hsl(220, 100%, 80%);
  --colour-submit-tertiary: hsla(220, 80%, 50%, 0.6);
  --colour-submit-quarternary: hsla(220, 100%, 80%, 0.6);
  // accept
  --colour-positive-primary: hsl(140, 80%, 50%);
  --colour-positive-secondary: hsl(140, 100%, 80%);
  --colour-positive-tertiary: hsla(140, 80%, 50%, 0.6);
  --colour-positive-quarternary: hsla(140, 100%, 80%, 0.6);
  // decline
  --colour-negative-primary: hsl(350, 80%, 50%);
  --colour-negative-secondary: hsl(350, 100%, 80%);
  --colour-negative-tertiary: hsla(350, 80%, 50%, 0.6);
  --colour-negative-quarternary: hsla(350, 100%, 80%, 0.6);

  // links
  --colour-anchor-primary: hsl(240, 100%, 50%);
  --colour-anchor-secondary: hsl(240, 100%, 80%);
  --colour-anchor-tertiary: hsla(240, 100%, 50%, 0.9);
  --colour-anchor-quarternary: hsla(240, 80%, 80%, 0.9);
  // local links
  --colour-anchor-local-primary: hsl(270, 100%, 50%);
  --colour-anchor-local-secondary: hsl(270, 100%, 80%);
  --colour-anchor-local-tertiary: hsla(270, 80%, 50%, 0.9);
  --colour-anchor-local-quaternary: hsla(270, 80%, 80%, 0.9);
  // internal links
  --colour-anchor-internal-primary: hsl(240, 100%, 50%);
  --colour-anchor-internal-secondary: hsl(240, 100%, 80%);
  --colour-anchor-internal-tertiary: hsla(240, 100%, 50%, 0.9);
  --colour-anchor-internal-quarternary: hsla(240, 80%, 80%, 0.9);
}