extends ../../layout.pug

block content
  h1 Welcome to my site!
  section.landing
    nav.local-nav
      h2 Local navigation
      ul
        li #[a(href="#") Local link 1]
        li #[a(href="#") Local link 2]
        li #[a(href="#") Local link 3]
        li #[a(href="#") Local link 4]
        li #[a(href="#") Local link 5]
        li #[a(href="#") Local link 6]
        li #[a(href="#") Local link 7]