@use "styles/variables" as *;
@use "styles/base";
@use "styles/attributes";
@use "components/index";

.gheader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;

  & .gheader-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.glogo {
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: var(--colour0-primary);
  padding: 2rem;

  > a {
    text-decoration: none;

    &:visited {
      color: var(--colour0-primary);
    }
  }
}

.gswitch {
  flex: 0 1 3em;
  padding: 2rem;

  &-button {
    display: flex;
    max-height: 3em;
    border-radius: 50%;
    color: var(--colour0-primary);
    background-color: var(--colour0-secondary);
  }
}

.todo-app {
  border-radius: 15px;
  background-color: var(--colour0-secondary);

  .todo-app__panel {
    max-width: $width-touch;
  }

  .new-todo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1em;
    padding: 1em 1em 2em;
  }
  
  .todo-add {
    font-size: 3em;
    font-weight: normal;
    line-height: 0;
    border-radius: 50%;
    color: green;
    background-color: var(--colour0-secondary);
    border-color: green;
    padding: 0;
  }

  .todo-actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 1em;

    &__filters {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: 1em;
    }
  }

  .todo-filters {
    text-align: justify;
  }
  
  .todo-filter {}

  .todo__notice {
    padding: 0.5em 1em;
  }
}

