include pug-mixins/svg-icons.pug
include pug-mixins/error-list.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    block meta
    block openGraph
    block title
      title BassOfBass's Personal site
  body
    +svgContainer()
    header.global-header
      block globalHeader
        div.global-header__logo
          a.global-header__logo-link.image-link(href="/")
            +svgIcon("html", "global-header__logo-icon")
              
        -
          const items = [
            { url: "/", title: "Home", predicate: true },
            //- { url: "/previews", predicate: true, title: "Previews" },
            { url: "/frontend-mentor", title: "Challenges", predicate: true },
          ]
        nav.navigation-bar
          ul.navigation-bar__navlist
            for item in items
              li.navigation-bar__nav-item
                a.navigation-bar__nav-link(href=item.url) #{item.title}

        div

    main#main-content.global-content
      block content

    footer.global-footer
      block globalFooter
        address.global-footer__address
          div
            a(href="https://github.com/BassOfBass") My github
          div
            a(href="https://github.com/BassOfBass/BassOfBass.github.io") Source files
        div.
          Icons made by #[a(href="https://www.freepik.com" title="Freepik") Freepik] from #[a(href="https://www.flaticon.com/" title="Flaticon") www.flaticon.com]
      div.component-container(hidden)
        block componentContainer
        

    +errorList(errors)