include mixins
include pug-mixins/svg-icons.pug
include pug-mixins/error-list.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    block meta
    block title
      title BassOfBass's Personal site
    +svgContainer()
  body
    header.global-header
      block globalHeader
        div.global-header__logo
          a.global-header__logo-link.image-link(href="/")
            +svgIcon("html", "global-header__logo-icon")
              
        +globalNav()

        div

    main#main-content.global-content
      block content

    footer.global-footer
      block globalFooter
        address.global-footer__address
          div
            a(href="https://github.com/BassOfBass") My github
          div
            a(href="https://github.com/BassOfBass/landing-page") Source files
        div.
          Icons made by #[a(href="https://www.freepik.com" title="Freepik") Freepik] from #[a(href="https://www.flaticon.com/" title="Flaticon") www.flaticon.com]

    +errorList(errors)