html {
  font-size: 100%;
  box-sizing: border-box;
  min-height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in iOS.
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  transition-property: 
    opacity, 
    color, 
    background-color, 
    border-color;
  transition-duration: var(--duration-global);
}

body {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  font-family: 'Public Sans', sans-serif;
  color: var(--colour0-primary);
  background-color: var(--colour-neutral-tertiary);
  line-height: 1.3;
  padding: 0;
  margin: 0;

  & > * {
    flex: 0 0 auto;
    padding: 0 0.5em;
  }
}

main {
  flex: 1 1 auto;
  padding: 0;

  & > * {
    padding: 0 1em;
  } 
  
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 1.9rem;
  font-weight: 300;
  margin: 0.25em;
}

h3 {
  text-align: center;
  font-size: 1.8rem;
  margin: 0.25em;
}

p,
li,
dt,
dd {
  line-height: 1.5;
}

a {
  color: var(--colour0-tertiary);
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

}

figure {
  padding: 0;
  margin: 0;
}

figcaption {
  text-align: center;
  padding: 0.25em;
}

img,
video {
  max-width: 100%;
  height: auto;
  border-style: none; // Remove the border on images inside links in IE 10.
}

label {
  cursor: pointer;
}

button {
  min-width: 44px;
  min-height: 44px;
  font-size: 100%;
  font-family: inherit;
  line-height: 1.5;
  padding: 0.5em;
  margin: 1em;
  cursor: pointer;
}