.svg-icon {
  // allow event delegation to work
  pointer-events: none;
  
  &__svg {
    width: 100%;
    height: 100%;
    
  }
}

.svg-icon-check {

  &__path {
    stroke: var(--colour0-primary);
  }
}

.svg-icon-cross {

  &__path {
    fill: var(--colour0-primary);
  }
}

.svg-icon-moon {

  &__path {
    fill: var(--colour0-primary);
  }
}

.svg-icon-sun {
  &__path {
    fill: var(--colour0-primary);
  }
}