.todo-list {
  list-style: none;
  padding: 0;

  &__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-bottom: 1px solid var(--colour0-quarternary);

    & > * {
      flex: 0 0;
    }
    
  }

  &__item--completed &__task{
    text-decoration: line-through;
    color: var(--colour0-tertiary);
  }

  &__task {
    flex: 1 1 auto;
  }

  &__check {
    border-radius: 50%;
    border-color: var(--colour0-primary);
  }

  &__remove {
    font-weight: bold;
    color: hsl(0, 3%, 6%);
    border-color: hsl(0, 100%, 50%);
    border-radius: 50%;
  }
}

