.gerrors {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--colour0-secondary);
  border: var(--length-thin) solid var(--colour0-primary);

  &.show {
    visibility: visible;
    opacity: 1;
  }
}